@use './color';
@use './media';
@use './fonts';
@use './icons';

$default-margin: 50px;
$mobile-margin: 30px;

body {
  background-color: color.$background-default-color;
  font-family: fonts.$text-default-font;
  font-size: 15px;
  text-align: justify;
}

* {
  color: color.$text-default-color;
  margin: 0;
  padding: 0;
}

a {
  color: color.$primary-color;
  outline: 0;
  text-decoration: none;

  > i {
    color: color.$primary-color;
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 20px;

  &.note {
    color: color.$primary-color;
    text-align: center;
  }
}

img {
  border: none;
}

h1, h2, h3 {
  font-family: fonts.$text-title-font;
}

ul {
  > li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    list-style: none;
    padding: 5px 10px;

    &:before {
      @include icons.icon(icons.$icon-play);
      color: color.$primary-color;
      margin-right: 7px;
    }

    > ul {
      padding: 10px 10px 10px 30px;

      @include media.below(sm) {
        padding: 10px;
      }

      > li {
        list-style: none;
        padding: 5px 0;

        &:before {
          @include icons.icon(icons.$icon-checkmark);
          color: color.$primary-color;
          font-size: 0.8em;
          margin-right: 10px;
        }
      }
    }
  }
}

@for $i from 1 through 5 {
  .m-top-#{$i} {
    margin-top: #{$i * 10}px;
  }

  .m-right-#{$i} {
    margin-right: #{$i * 10}px;
  }

  .m-bottom-#{$i} {
    margin-bottom: #{$i * 10}px;
  }

  .m-left-#{$i} {
    margin-left: #{$i * 10}px;
  }
}

h2 {
  color: color.$theme-color;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 60px auto 90px auto;
  position: relative;
  text-align: center;
  text-shadow: 3px 3px 5px color.$mine-shaft;
  text-transform: uppercase;

  &:after {
    background-color: color.$primary-color;
    bottom: -20px;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 200px;
  }

  .title-decoration {
    color: color.$theme-color;
    padding: 0 100px;
    position: relative;

    @include media.below(md) {
      display: block;
      padding: 10px 20px;
      position: initial;
    }

    &:before, &:after {
      border-left: 5px double color.$primary-color;
      border-top: 5px double color.$primary-color;
      content: '';
      height: 20px;
      position: absolute;
      width: 20px;
    }

    &:before {
      left: 5px;
      top: 5px;
    }

    &:after {
      bottom: 5px;
      right: 5px;
      transform: rotate(180deg);
    }
  }

  @include media.below(md) {
    font-size: 2.8rem;
    margin: 40px $mobile-margin 70px $mobile-margin;
  }
}

.section {
  margin: $default-margin auto $default-margin auto;
  max-width: 976px;

  @include media.below(md) {
    padding: 0 $default-margin;
  }

  @include media.below(sm) {
    padding: 0 $mobile-margin;
  }
}

.separator {
  height: $default-margin;

  &--point {
    height: 20px;
    position: relative;

    &:before {
      background-color: color.$primary-color;
      border-radius: 100%;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-10px, -10px);
      width: 20px;
    }
  }

  @include media.below(sm) {
    height: $mobile-margin;
  }

  @include media.below(md) {
    &--last {
      height: 100px;
    }
  }
}
