@use '../color';
@use '../icons';

@mixin outline-style {
  border: 1px solid color.$silverChalice;
  box-shadow: 0 0 5px color.$silverChalice;
}

@mixin box-style {
  @include outline-style;
  background: color.$white;
  content: '';
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

@mixin decorate-input {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid color.$silverChalice;
  border-left: 2px solid color.$silverChalice;
  z-index: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  > label {
    align-self: flex-start;
    font-size: 1.2em;
    padding: 0 12px 5px 0;
    position: relative;

    &.required {
      &:after {
        content: '*';
        color: color.$error-color;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &--with-errors {
    label {
      color: color.$error-color;
    }

    .input-wrapper, .select-wrapper, .textarea-wrapper {
      &:before, &:after {
        border-color: color.$error-color;
      }
    }

    .select-wrapper > .select-icon > i {
      color: color.$error-color;
    }

    .radio-wrapper {
      input[type="checkbox"] + label, input[type="radio"] + label {
        &:before {
          border-color: color.$error-color;
          box-shadow: 0 0 5px color.$error-color;
        }
      }
    }

    .captcha-wrapper .g-recaptcha {
      border: 1px solid color.$error-color;
      box-shadow: 0 0 5px color.$error-color;
    }

    input, select, textarea {
      border-color: color.$error-color;
      box-shadow: 0 0 5px color.$error-color;
    }
  }
}

.input-wrapper, .select-wrapper, .textarea-wrapper {
  position: relative;

  > input, select {
    width: 100%;
  }

  &:before {
    @include decorate-input();
    top: 3px;
    left: 3px;
  }
}

.input-wrapper {
  &:after {
    @include decorate-input();
    transform: rotate(180deg);
    bottom: 3px;
    right: 3px;
  }
}

.select-wrapper {
  > .select-icon {
    background-color: color.$white;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 7px;
    transform: rotate(180deg);
    z-index: 9;

    i {
      color: color.$silverChalice;
      font-size: 1.5rem;
      padding: 5px 7px;
    }
  }
}

.radio-wrapper {
  display: flex;
  padding-bottom: 5px;

  > label {
    display: block;
    padding-top: 4px;
  }
}

.captcha-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.form-errors {
  > li {
    list-style: none;
    color: color.$error-color;
    padding: 5px 0;
  }
}

input, textarea, select {
  @include outline-style;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 10px 15px;
  position: relative;

  &:focus-visible {
    outline: none;
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    top: 0;
    left: 0;
  }
}

input[data-number-input] {
  text-align: right;
}

textarea {
  min-height: 5rem;
  resize: vertical;
  width: 100%;

  &.large {
    min-height: 20rem;
  }
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked,
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  opacity: 0;

  + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    &:before {
      @include box-style;
    }

    &:after {
      @include box-style;
      opacity: 0;
    }
  }
}

input[type="checkbox"]:checked + label {
  &:after {
    @include icons.icon(icons.$icon-checkmark);
    border: none;
    background: none;
    color: color.$primary-color;
    font-size: 1.5rem;
    opacity: 1;
  }
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  margin-right: 25px;

  &:before {
    border-radius: 100%;
  }
}

input[type="radio"]:checked + label {
  &:after {
    background-color: color.$primary-color;
    border-color: color.$primary-color;
    border-radius: 100%;
    opacity: 1;
    transform: scale(0.5);
  }
}

select {
  background-color: color.$white;

  &[multiple="multiple"] {
    padding: 0;
  }

  option {
    padding: 10px 15px;
  }
}

.help-text {
  color: color.$text-dark-color;
  font-style: italic;
  padding: 5px 0;
}

.fieldset {
  background-color: color.$gallery;
  box-shadow: 1px 1px 3px color.$silverChalice;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  &__title {
    background-color: color.$gallery;
    color: color.$silverChalice;
    font-size: 1.4rem;
    left: 0;
    padding: 10px 50px;
    position: absolute;
    top: -32px;

    &:before {
      @include decorate-input();
      left: 6px;
      top: 6px;
    }

    &:after {
      @include decorate-input();
      top: 6px;
      transform: rotate(90deg);
      right: 6px;
    }
  }
}

.agreement-wrapper {
  label {
    font-style: italic;

    li {
      padding-left: 30px;

      &:before {
        @include icons.icon(icons.$icon-checkmark);
        color: color.$primary-color;
        font-size: 0.8em;
        margin-right: 10px;
      }
    }
  }
}