@use '../color';
@use '../media';

$default-margin: 50px;

.section {
  line-height: 1.5em;
  margin: $default-margin auto 2 * $default-margin auto;
  max-width: 976px;

  @include media.below(md) {
    padding: 0 $default-margin;
  }

  @include media.below(sm) {
    padding: 0 30px;
  }

  h2 {
    background-color: color.$theme-color;
    box-shadow: 0 7px 10px color.$mine-shaft;
    color: color.$white;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: $default-margin;
    position: relative;
    text-align: center;
    text-shadow: 3px 3px 5px color.$mine-shaft;
    text-transform: uppercase;

    &:before, &:after {
      border-left: 10px double color.$primary-color;
      border-top: 10px double color.$primary-color;
      content: '';
      height: 20px;
      position: absolute;
      width: 20px;
    }

    &:before {
      left: 5px;
      top: 5px;
    }

    &:after {
      bottom: 5px;
      right: 5px;
      transform: rotate(180deg);
    }
  }
}
