@use 'front/color';
@use 'front/fonts';

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');; //'Teko', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); //'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); //'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); //'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap'); //'Barlow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); //'Kanit', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); //'Fira Sans', sans-serif;

:root {
    --primary-color: #{color.$geebung};
    --theme-color: #{color.$scorpion};
    --font-title: 'Teko', serif;
}

#help-tool {
    background-color: transparentize(color.$mine-shaft, 0.5);
    border: 1px solid color.$mine-shaft;
    bottom: 10%;
    left: 5%;
    position: fixed;
    z-index: 99;

    .color-picker {
        align-items: center;
        display: flex;
        padding: 7px;

        .color-picker__text {
            align-items: center;
            background-color: #fff;
            border: 1px solid #000;
            display: flex;
            font-size: 1rem;
            justify-content: center;
            height: 20px;
            width: 100px;
        }

        > .icon {
            background-color: color.$white;
            border-radius: 5px;
            color: color.$mine-shaft;
            cursor: pointer;
            font-size: 1.4rem;
            margin-left: 10px;
            padding: 3px 5px;
        }
    }

    .font-selector {
        margin: 7px;
    }
}
