{% extends 'layout/_front.html.twig' %}

{% block meta %}
    <meta name="keywords" content="KMIS Pro, KMIS Pro, self-defense, sécurité, formation, Oise, Verneuil-en-Halatte" />
    <meta name="description" content="@todo">
    <meta name="og:title" property="og:title" content="KMIS Pro">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <h2 data-aos="zoom-out" data-aos-duration="1000">Présentation</h2>
        <p><span itemprop="name">KMIS Pro</span> lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur, culpa cumque distinctio dolores ducimus earum, ex facere facilis fugit maxime molestiae molestias omnis provident quae quis quo soluta voluptatem.</p>
        <p>Aut commodi consequatur eaque facere fuga fugiat ipsam, laborum modi nobis porro qui rerum voluptatibus. Aperiam aspernatur deserunt dicta dolore minus molestiae, natus nesciunt sunt? Cum ducimus explicabo reprehenderit ut?</p>
        <p>Adipisci amet blanditiis distinctio dolorem ea, earum eius enim eum explicabo, fugit illo impedit itaque laborum natus neque odit officiis optio quas quia quo quos rem sit suscipit totam ut. Dolore, eum quasi! Dicta nulla, recusandae!</p>
        <p>Atque blanditiis consequuntur deserunt doloribus excepturi laboriosam, laudantium maiores maxime molestias nisi odit omnis optio praesentium quas quia quis rem rerum soluta ullam, voluptate. Aspernatur blanditiis delectus dolorem fugit harum iste iure minus modi neque, nisi numquam quia sed unde velit vitae?</p>
        <p>Commodi hic magni nesciunt obcaecati quas quia quibusdam recusandae repudiandae totam, ut. Aliquam amet asperiores at aut distinctio doloremque ducimus incidunt ipsa ipsam molestias nesciunt praesentium quod reiciendis rem, saepe similique soluta? Asperiores aspernatur cupiditate dolor impedit pariatur quis saepe tempore veniam.</p>
    </div>

    <div class="section">
        <h2 data-aos="zoom-out">@todo</h2>
        <p>@todo : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolores eaque est fugit ipsum, iste maxime minima natus nostrum pariatur perspiciatis quod ratione, soluta totam unde, vero vitae voluptas voluptate.</p>
    </div>

    <div class="section">
        <h2 data-aos="zoom-out">@todo</h2>
        <p>@todo : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur deleniti laboriosam magni mollitia, nemo odio porro quis, ratione rerum sunt suscipit! Corporis ducimus explicabo fugiat, illo impedit nostrum voluptatum.</p>
    </div>

{% endblock %}
