{% extends 'layout/_front.html.twig' %}

{% block title %}{{ 'front.services.header.title'|trans }}{% endblock %}

{% block meta %}
    <meta name="keywords" content="KMIS Pro, self-defense, sécurité, formation, Oise, Verneuil-en-Halatte" />
    <meta name="description" content="@todo">
    <meta name="og:title" property="og:title" content="Services proposés">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/todo.webp'),
        'title': ('front.services.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <h2 data-aos="zoom-out" data-aos-duration="1000">Services aux établissements scolaires</h2>
        <p><span itemprop="name">KMIS Pro</span> propose différents services aux établissements en parfaite adéquation avec les problématiques rencontrées de nos jours aussi bien pour le corps professoral que pour les élèves.</p>
    </div>

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <p>Pour les professeurs, les approches sont les suivantes :</p>
        <ul class="list">
            <li>Diagnostiquer les situations à risques : nous abordons les situations dangereuses liées aux phénomènes extérieurs à l’établissement, pour les reconnaître, les anticiper, les éviter ou les gérer en dernier recours.</li>
            <li>Travailler la confiance en soi : vous apprendrez vos forces et vos faiblesses, les interactions entre le verbal, le non verbal et le paraverbal, ainsi que des exercices ou des mises en situation pour booster votre confiance en vous.</li>
            <li>Traiter les situations conflictuelles : nous rentrons dans la gestion du conflit lié à l’environnement scolaire ; un élève difficile, un parent d’élève agressif, un collègue en difficulté, vous apprendrez les techniques et les leviers pour gérer ces situations compliquées.</li>
        </ul>
    </div>

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <p>Pour les élèves, les axes sont les suivants :</p>
        <ul class="list">
            <li>Lutter contre le harcèlement, : nous apprenons à le déceler, l’identifier, le comprendre, afin de proposer les solutions pour le traiter. Se construire ou se reconstruire physiquement et psychologiquement.</li>
            <li>Apprendre les premiers mécanismes pour ne plus être victime : nous analyserons ce qui peut faire de quelqu’un la proie d’un autre, d’une bande, à l’école ou à l’extérieur, dans le cadre associatif ou tout autre environnement, déterminer les réponses qui peuvent y être apportées.</li>
            <li>Réussir par le sport, ou comment se forger un mental à toute épreuve avec un corps solide. Nous aborderons les mécanismes psychiques, motivationnels ainsi que les passerelles avec le monde scolaire et la vie quotidienne.</li>
        </ul>
    </div>

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <p>Enfin, la relation ou et l’interaction Professeurs/Élèves :</p>
        <p>Chacun a ses difficultés, son histoire, ses objectifs dans une classe. Nous mettons en place les conditions d’une réussite collective avec notre approche spécifique : Mieux mieux se connaître, mieux se comprendre pour mieux se respecter.</p>
    </div>

{% endblock %}
