{% extends 'layout/_front.html.twig' %}

{% block title %}{{ 'front.services.header.title'|trans }}{% endblock %}

{% block meta %}
    <meta name="keywords" content="KMIS Pro, self-defense, sécurité, formation, Oise, Verneuil-en-Halatte" />
    <meta name="description" content="@todo">
    <meta name="og:title" property="og:title" content="Services proposés">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/todo.webp'),
        'title': ('front.services.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="separator"></div>

    <h2 data-aos="zoom-out" data-aos-duration="1000"><span class="title-decoration">Formations en présentiel</span></h2>

    <div class="section">
        <p>Ces formations se déroulent dans vos locaux avec l’intervention d’un ou plusieurs formateurs de notre équipe afin de répondre à la votre problématique.</p>
        <p>Chaque formation débute par un accueil et une présentation de la formation et des objectifs ainsi qu’un tour de table pour tous mieux se connaître. La formation est toujours adaptée en fonction des capacités et des réticences des apprenants, tout en mettant en place des mises en situation au plus près de leurs préoccupations.</p>
        <p>Une auto-évaluation sera réalisée en début et en fin de formation afin d’identifier précisément les apports de la formation sur en lien avec les objectifs visés.</p>
        <p>La durée de la formation sera déterminée avec vous en fonction du ou des objectifs à atteindre mais également du nombre de participants.</p>
    </div>

    <div class="separator"></div>

    <h2 data-aos="zoom-out" data-aos-duration="1000"><span class="title-decoration">Ateliers</span></h2>

    <div class="section">
        <p>Les ateliers ont pour but une mise en pratique de concepts ou de techniques pour un apprentissage pratique. Ils sont orientés sur l’auto- défense, sur le harcèlement physique ou moral ou plus simplement le bien être (au travail ou dans la vie de tous les jours).</p>
        <p>Ces ateliers peuvent être réalisés dans vos locaux ou les nôtres en groupe limité.</p>
        <p>Les ateliers sont adaptés aux besoins et aux capacités de chacune/chacun</p>
        <p>La durée de l’atelier sera déterminée avec vous en fonction du ou des objectifs à atteindre mais également du nombre de participants.</p>
    </div>

    <div class="separator"></div>

    <h2 data-aos="zoom-out" data-aos-duration="1000"><span class="title-decoration">Cours et coaching privés</span></h2>

    <div class="section">
        <p>Les coachings privés ont pour but d’aller plus loin dans la recherche de solutions personnalisées ou d’atteindre plus vite l’objectif visé. Que ce soit :</p>
        <ul>
            <li>Apprendre l’auto-défense (à mains nues ou avec les objets du quotidien, sécurité des femmes)</li>
            <li>Gagner en confiance en soi, mieux vivre au quotidien</li>
            <li>Traiter une phobie ou une dépendance</li>
            <li>Préparer une compétition (mentalement et/ou physiquement)</li>
            <li>Apprendre des techniques de combats (boxe, grappling, MMA, Krav Maga)</li>
            <li>Améliorer sa condition physique ou son bien être</li>
            <li>Perdre du poids</li>
        </ul>
    </div>

    <div class="section">
        <p>Nos séances privées sont la réponse parfaite.</p>
        <p>Nos coachings privés peuvent être réalisés dans vos locaux ou nos les nôtres.</p>
        <p>La progression est ici plus rapide et plus adaptée à vous : à votre niveau, à vos attentes et à vos contraintes.</p>
        <p>Ces séances peuvent se faire à l’unité ou en pack.</p>
    </div>

    <div class="separator"></div>

{% endblock %}
