<div id="help-tool">
    <div data-color-picker="primary" data-color-default="#CA971DFF" class="color-picker">
        <div class="color-picker__text"></div>
        <div class="color-picker__selector icon icon-cog"></div>
        <div class="color-picker__revert icon icon-back"></div>
    </div>
    <div data-color-picker="theme" data-color-default="#575757FF" class="color-picker">
        <div class="color-picker__text"></div>
        <div class="color-picker__selector icon icon-cog"></div>
        <div class="color-picker__revert icon icon-back"></div>
    </div>
    <select data-font-selector="" class="font-selector">
        <option value="'Teko', serif">Teko</option>
        <option value="'Raleway', sans-serif">Raleway</option>
        <option value="'Oswald', sans-serif">Oswald</option>
        <option value="'Poppins', sans-serif">Poppins</option>
    </select>
</div>
