<section class="banner banner--home with-overlay with-background">
    <img src="{{ asset('build/images/bg-01.webp') }}" alt="KMIS Pro"/>
    <h1 class="title-wrapper">
        <img data-aos="fade-right" data-aos-duration="2000" class="logo-image" src="{{ asset('build/images/logo_image.svg') }}" alt="KMIS Pro"/>
        <img data-aos="fade-left" data-aos-duration="2000" class="logo-title" src="{{ asset('build/images/logo_title.svg') }}" alt="KMIS Pro"/>
    </h1>
</section>
