<section class="banner banner--home with-overlay with-background">
    <img src="{{ asset('build/images/todo.webp') }}" alt="KMIS Pro"/>
    <div class="title-wrapper">
        <img data-aos="fade-right" data-aos-duration="2000" class="logo" src="{{ asset('build/images/logo.svg') }}" alt="KMIS Pro"/>
        <h1 data-aos="fade-left" data-aos-duration="2000">KMIS Pro</h1>
    </div>
</section>
